.page {
  display: flex;
  height: 98vh;
  width: 99vw;
}

.row-split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.column-split {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: auto;
}

.child {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
